<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395238789519-ue1vnj8cpergvl6rtu1t0cinqktfjjav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395238789519-ue1vnj8cpergvl6rtu1t0cinqktfjjav</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395238789519-q434ebd5q6kpl7jhd1ad0t5urpj5kgce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKTeyW0XVRNopNdo42-tlmIAkrjPLmkGc</string>
	<key>GCM_SENDER_ID</key>
	<string>395238789519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-9bae4</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-9bae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395238789519:ios:e5d1c67aa1e2e4570f3bfa</string>
</dict>
</plist>